
! urxvt

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

! end
! special
*.foreground:   #e0f2ec
*.background:   #11292e
*.cursorColor:  #e0f2ec

! black
*.color0:       #0e1f22
*.color8:       #1c4b4e

! red
*.color1:       #a85659
*.color9:       #eb8995

! green
*.color2:       #668e8c
*.color10:      #82aea9

! yellow
*.color3:       #c3b6a4
*.color11:      #e1d9ce

! blue
*.color4:       #326d78
*.color12:      #a7d2cd

! magenta (or orange)
*.color5:       #433c32
*.color13:      #aa9576

! cyan
*.color6:       #386e74
*.color14:      #90c0bd

! white
*.color7:       #e0f2ec
*.color15: #f0f8f3

URxvt.font: xft:Source Code Pro for Powerline:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
rofi.color-window: #131822, #233f66, #233f66
rofi.color-normal: #131822, #aab0bc, #233f66, #aab0bc, #78824B
rofi.color-active: #131822, #aab0bc, #233f66, #aab0bc, #78824B
rofi.color-urgent: #131822, #aab0bc, #233f66, #aab0bc, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
